<div class="container">
  <h1>Account Editor</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Account Information
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="account_name">
              Name
            </label>
            <input type="text" id="account_name" [(ngModel)]="account.name" class="form-control" />
          </div>
          <div class="form-group">
            <label for="account_email">
              Email
            </label>
            <input type="email" id="account_email" [(ngModel)]="account.email" class="form-control" />
          </div>
          <br />
          <div class="form-group">
            <label for="account_isEmployee">
              <input type="checkbox" id="account_isEmployee" [(ngModel)]="account.isEmployee" /> Employee
            </label>
          </div>
          <div class="form-group">
            <label for="account_departmentId">
              Department
            </label>
            <select id="account_departmentId" [(ngModel)]="account.departmentId" class="form-control">
              <option [ngValue]="null"></option>
              <option *ngFor="let department of departments" [value]="department.id">
                {{department.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br />
      <ul class="list-group">
        <li class="list-group-item bg-light">
          Phone numbers
        </li>
        <li class="list-group-item" *ngFor="let phone of account.phoneNumbers">
          {{phone.number}}
          <span class="badge badge-primary float-right">
            {{PhoneType[phone.type] | titlecase}}
          </span>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">
                  TYPE
                </a>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Add phone...">
            <div class="input-group-append">
              <button class="btn btn-info" type="button">Add</button>
            </div>
          </div>
        </li>
      </ul>
      <br />
      <button class="btn btn-lg btn-success btn-block" type="button">
        Save
      </button>
    </div>
    <div class="col-md-4">
      <code>{{account | json}}</code>
    </div>
  </div>
</div>
<br />