<ul class="list-group">
        <li class="list-group-item bg-light">
          Phone numbers
        </li>
        <li class="list-group-item" *ngFor="let phone of phones">
          {{phone.number}}
          <span class="badge badge-primary float-right">
            {{phone.type}}
          </span>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <app-dropdown [(model)]="selectedPhoneType" [options]="PhoneTypes"></app-dropdown>
            <input #phone type="text" class="form-control" placeholder="Add phone...">
            <div class="input-group-append">
              <button class="btn btn-info" type="button" (click)="addPhone(phone.value, selectedPhoneType)">Add</button>
            </div>
          </div>
        </li>
      </ul>
